h1{
  text-align: center;
  color: white;
}
.title{
  font-size: 100px;
  margin-top: 100px;
}
.icons{
  display: flex;
  justify-content: space-around;
  color: white;
}
.stats{
  display: flex;
  justify-content: space-around;
  font-size: 30px;
  color: white;
}
.parallax-container {
    position: relative;
    overflow: hidden;
    height: 1000px;
}
.card-image img {
  height: 300px;
  object-fit: cover;
}
.transparency{
  background-color: rgba(0,0,0,0.5);
  margin-left: 300px;
  width: 60%;
}
.map, .shoes, .myDiet{
  margin-left: 300px;
  width: 60%;
}
h2, h3{
  text-align: center;
  padding-top: 30px;
}
.loc, .shoe, .diet, .school-info{
  color: white;
  height: 700px;
}
.loc{
  background: #452103;
}
.shoe{
  background-color: #656839;
}
.diet{
  background-color: #BB6B00;
}
.school-info{
  background-color: #7B5804;
}
